<footer>
    <div class="snsIcon">
        <a id="btnTwitter" class="link-icon twitter" href="javascript:shareTwitter();"><img src="/static/image/icon-twitter.png" alt=""></a>
        <a id="btnFacebook" class="link-icon facebook" href="javascript:shareFacebook();"><img src="/static/image/icon-facebook.png" alt=""></a>
        <a id="btnKakao" class="link-icon kakao" href="javascript:shareKakao();"><img src="/static/image/icon-kakao.png" alt=""></a>
    </div>
</footer>