
  <nav class="navbar navbar-expand-lg ">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">LOGO</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>


      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              랜드마크
            </a>

            <ul class="dropdown-menu">
              <li><a class="dropdown-item " href="#">랜드마크1</a></li>
              <li><a class="dropdown-item" href="#">랜드마크2</a></li>
              <li><a class="dropdown-item" href="#">랜드마크3</a></li>
            </ul>
          </li>


          <li class="nav-item dropdown ">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              음식
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">음식1</a></li>
              <li><a class="dropdown-item" href="#">음식2</a></li>
              <li><a class="dropdown-item" href="#">음식3</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">리뷰</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="#">공지사항</a>
          </li>
        </ul>

        <div class="nicknameBox">
          <div class="nickDiv">
            <form class="d-flex nickForm" role="nickName">
              <input class="form-control me-2 nickInput" type="nickName" placeholder="닉네임을 적어주세요!"
                aria-label="nickName">
              <button class="btn btn-outline-success" type="submit">Login</button>
            </form>
          </div>
          <div class="welcDiv hidden">
          </div>
        </div>
      </div>
    </div>
  </nav>

