<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>판테온</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css">

      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css">
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
  
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
          integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />
  
      <link rel="stylesheet" href="/static/css/navbar.css">
      <link rel="stylesheet" href="/static/css/footer.css">


    <link rel = "stylesheet" href = "/static/css/colosseum.css">
</head>
<body>
    <%- include('navbar.ejs')%>

    <div id = "contents">

        <div id = "bigImg">
            <img src = "/static/img/airplain.jpg">
        </div>

        <div id = "btn4">
            <a href = "#box1"><span>설명1</span></a>
            <a href = "#box2"><span>설명2</span></a>
            <a href = "#explain"><span>설명3</span></a>
            <a href = "#infoThree"><span>설명4</span></a>
        </div>

        <div id = "threeBox">

            <div id = "box1" class = "box">
                <img src = "/static/img/bigImg.png" alt = "이미지1">

                <div class = "msg">
                    <h2>DEAL OF THE MONTH</h2>

                    <p class = "smallw"> 설명글dfdkfjeorjfjd</p>

                    <p>
                        이 전시관은 50,000여점의 유물을 소장하고 있는데, BC 4000년부터 AD 4세기까지의 나일강 문명의 산물들로 채워져 있다. 이 세계 최대규모의 이집트 컬렉션은 이집트의 고대 왕조로부터 중왕조시대 그리고 신왕조 시대와 로마, 프톨레마이오스, 비잔틴 제국시대에 이르기까지의 이집트인들의 삶을 관통하여 보여준다. 
                    </p>
                </div>
            </div>

            <div id = "box2" class = "box">
                <img src = "/static/img/img1.jpg" alt = "이미지2">

                <div class = "msg">
                    <h2>DEAL OF THE MONTH</h2>

                    <p class = "smallw"> 설명글dfdkfjeorjfjd</p>

                    <p>
                        이 전시관은 50,000여점의 유물을 소장하고 있는데, BC 4000년부터 AD 4세기까지의 나일강 문명의 산물들로 채워져 있다. 이 세계 최대규모의 이집트 컬렉션은 이집트의 고대 왕조로부터 중왕조시대 그리고 신왕조 시대와 로마, 프톨레마이오스, 비잔틴 제국시대에 이르기까지의 이집트인들의 삶을 관통하여 보여준다. 
                    </p>
                </div>
            </div>

        </div> <!--threeBox 끝-->

        <div id = "explain">

            <h2>여기는 제목칸</h2>
            
            <div id = "posit">
                <div id = "text">
                    <p>durlsms 3qjsWO rmf</p>
                    <p>durlsms wpdlf rlsdmf ekaekdgksms rht</p>
                    <p>durlrk wpdlfWKf</p>
                    <p>durlsms rls rmfdlfkd qqltmtgks emt</p>
                    <p>dklfjghdkfaioutlkenfkddlksfjasl</p>
                    <p>dfjaelrjkeifj</p>

                    <a href = "#">
                        <button>자세히 보기</button>
                    </a>
                </div>
                
    
                <img src = "/static/image/nature2.jpg" alt = "사진1">
            </div>
        </div> <!-- explain 끝-->

        
        <div id = "infoThree">
            <h2>여기는 제목담당~</h2>
            <div id = "infoImg">


                <div class="card card1">
                    <img src="/static/image/nature2.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                  </div>

                  <div class="card card2">
                    <img src="/static/image/nature2.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                  </div>


                  <div class="card card3">
                    <img src="/static/image/nature2.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                  </div>


            </div>
        </div>

    </div>

    <script src="https://code.jquery.com/jquery-3.6.1.min.js"
                integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="//developers.kakao.com/sdk/js/kakao.min.js"></script>
    <script src="/static/js/nav.js"></script>
    <script src ="/static/js/footer.js"></script>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>

    <script src = "/static/js/colosseum.js"></script>
</body>
</html>