<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>베네치아</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
        integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="stylesheet" href="/static/css/navbar.css">
    <link rel="stylesheet" href="/static/css/footer.css">

    <link rel = "stylesheet" href = "/static/css/capri.css">
</head>
<body>
    <%- include('navbar.ejs')%>

    <div id = "contents">

        <div id = "bigImg">
            <img src = "/static/img/airplain.jpg">
        </div>

        <div id = "btn4">
            <a href = "#box1"><span>설명1</span></a>
            <a href = "#box2"><span>설명2</span></a>
            <a href = "#explain"><span>설명3</span></a>
            <a href = "#infoThree"><span>설명4</span></a>
        </div>

            <div id = "box1" class = "box">
                <img src = "/static/img/paris.jpeg">

                <div id = "msg">
                    <h2>dlkfjdigldkjndkckfjslfld</h2>

                    <div class = "pFour">

                        <div class = "twop">
                            <p>
                                Lorem, ipsum dolor sit amet consectetur adipisicing elit. jldddfdsaewfdrgdertgvcxswertgvcxzawertgbv cswerthbvcxswertyhbvcx
                            </p>
    
                            <p>
                                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Modi aperiam illum tempora, molestias soluta labore deserunt. ghuiolkhfhjkdlx.,cmfjtiroes.,cmfnhtrieo
                            </p>
                        </div>

                        <div class = "twop">
                            <p>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae aperiam rerum totam atque quia similique amet at tempore! Corporis dfgjhkljhgfdfghytrdcvbhytrdecvf
                            </p>
    
                            <p>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda inventore fugiat laborum iste nulla, rem facilis voluptate vensxcvbgd
                            </p>
                        </div>
                    </div>
                    <button>자세히보기</button>
                </div>
            </div>

            <div id = "box2" class = "box">
                <div id = "test">
                    <h2>provdigvalue kldjfjieroroui choidfj nondosing productk dfjinvateiondlrjsms wpahrdp eogks tjfauddlek.</h2>

                    <div class = "box2Div3">
                        <p>
                            dlkfjlaskdfjlsdkfjlasdkfjlsdkfjalsdkfjasldkfjalsdkfjlsdkfjsldkjflsdkfjlsdakfjalsdkfjsldkfjsldkfjlsdkfjlsdkfjdurlsms
                            chfhrtorckddpdlTsms gmlrtor rmfTLfh ehldj dlTsms elqmqkrtp rmflrh dnlcldp eogks jtjfauddmf dnlgks ckddlek.
                        </p>

                        <p>
                            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repellendus nisi consectetu.
                            durl EHgks dnldp dlTsms elqm ekdmadmfh rmdp eogks tjfauddmf TMsms rhtdlek.
                        </p>

                        <div class = "box2button">
                            <button class = "colorbtn">자세히 보기</button>
                            <button>관련 설명</button>
                        </div>
                    </div>
                </div>

                <div id = "box3Img">
                    <img src = "/static/image/nature2.jpg">
                    <img src = "/static/image/nature2.jpg">
                    <img src = "/static/image/nature2.jpg">
                    <img src = "/static/image/nature2.jpg">
                </div>
            </div>

            
            <div id = "box3" class = "box" style = "border: 1px solid black;">

                <div id = "writer">
                    <p class = "smallWriter">
                        dlkfjdkjfskldjflsdkvngjfkd
                    </p>
                    <h2>We make jfid lfk bsvisdf cnvlksjdvbhj;dlfk nvlsdkjhvi hv i jsdflsndbalkssdfklsdjfl;dkjfsd</h2>
                </div>

                <div id = "oneImg">
                    <img src = "/static/img/england.jpeg">

                    <div class = "absoluteText">
                        dlkfjiejjkdfdn
                    </div>

                    <div id = "variableText">
                        <p>dfdf</p>
                        <p>dfjsdlkfj</p>
                        <button>fjldfj</button>

                        <ul>
                            <li>dlkfjldskjf</li>
                            <li>dlkfdlksjfs;ldkmcdjn</li>
                        </ul>
                    </div>
                    
                </div>
                
            </div>
    </div>


    <script src="https://code.jquery.com/jquery-3.6.1.min.js"
                integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="//developers.kakao.com/sdk/js/kakao.min.js"></script>
    <script src="/static/js/nav.js"></script>
    <script src ="/static/js/footer.js"></script>


    <script src = '/static/js/capri.js'></script>

    <%- include('footer.ejs')%>


    
</body>
</html>