@font-face {
  font-family: "MICEGothic Bold";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-01@1.0/MICEGothic Bold.woff2")
    format("woff2");
  font-weight: 700;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "MICEGothic Bold";
}

#video {
  width: 98vw;
}

#video video {
  width: 100%;
  height: 87vh;
}

/* explain */

#explain {
  margin: 95px 50px 95px 50px;
  height: 50%;
}

#explain h2 {
  text-align: center;
  margin-bottom: 60px;
}

.smallw {
  font-size: 20px;
  margin: 20px 0;
}

#explain #posit {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#explain #posit #text p {
  text-align: left;
}

#explain #posit #text {
  margin-top: 30px; /*글씨위치*/
  margin-right: 100px;
  margin-left: 100px;
}

#explain img {
  width: 400px;
  height: 400px;
  margin-bottom: 80px;
  margin-left: 70px;
}

#contents button {
  font-weight: bold;
  margin-left: 47%;
  background: #3d8361;
  width: 100px;
  border: 2px solid #3d8361;
  margin-bottom: 30px;
  border-radius: 5px;
  border-width: 0;
  color: white;
}

/* box */

.box {
  margin: 0px 20px 200px 20px;
  display: flex;
  flex-direction: row;
}

#box2 {
  background: #3d8361;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

#box4 {
  background: #3d8361;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

#threeBox .box img {
  width: 47%; /*부모요소의 47%*/
  height: 400px;
}

#threeBox .box h2 {
  margin-bottom: 1rem;
}

.box .msg {
  margin-left: 7%;
  margin-top: 40px;
  width: 40%;
  padding: 50px 0;
}

.italyintro {
  font-size: 1.1rem;
}

#box2 .msg {
  color: white;
}

#box4 .msg {
  color: white;
}

#box2 .msg h2 {
  font-weight: 700;
  color: #f9bc6c;
  text-shadow: 1px 1px #c64251;
}

#box4 .msg h2 {
  font-weight: 700;
  color: #f9bc6c;
  text-shadow: 1px 1px #c64251;
}

h2 {
  font-weight: bold;
}

/* 미디어쿼리 */

@media (max-width: 1110px) {
  #explain {
    width: 100%;
    margin: 0;
  }

  #explain #posit {
    flex-direction: column;
    align-items: center;
  }

  #explain img {
    width: 100%;
    height: 400px;
    margin-left: 0;
  }

  #explain #posit #text {
    margin: 0 15px 10px 15px;
  }

  #threeBox .box img {
    width: 100%;
  }

  .box {
    flex-direction: column;
    align-items: center;
    margin-bottom: 100px;
  }

  .box .msg {
    width: 80%;
    margin: 35px 10px;
  }

  #box2 {
    flex-direction: column;
    align-items: center;
  }

  #box4 {
    flex-direction: column;
    align-items: center;
  }
}
