*{
    margin : 0;
    padding : 0;
    box-sizing: border-box;
}
#container{
    display : grid;

    grid-template-areas:
    'header'
    'bigImg'
    'contents'
    'footer';

    grid-template-columns: 1fr;
    grid-template-rows: 100px 500px 1425px 100px;
}
/* header */
header{
    grid-area: header;
    background-color : white;
}
/* 큰 이미지 사진 */
#bigImg{
    grid-area: bigImg;
    position : relative;
}
#bigImg img{
    width : 100%;
    height : 100%;
}
#bigImg h1{
    color : white;
    font-weight: 800;
    font-size : 50px;
    position : absolute;
    left : 10px;
    bottom : 10px;
}
#bigImg h3{
    color : orange;
    font-weight : 600;
    font-size : 30px;
    position : absolute;
    left : 320px;
    bottom : 10px
}
/* contents */
#contents{
    grid-area : contents;
    background-color: white;
    
    display : grid;
    grid-template-areas:
    'info1'
    'info2'
    'info3'
    'info4';

    grid-template-rows: 325px 450px 325px 325px;
}
#contents h1{
    font-size : 25px;
    margin-top : 30px;
    margin-bottom : 30px;
}
#info1{
    grid-area : info1;
    width : 1300px;
    margin : 0 auto;
    margin-top : 35px;
    
    display : flex;
    justify-content: space-between;
}
#info1 .text{
    /* border : 1px solid black; */
    width : 750px;
    height : 200px;
}
/* #info1 h1{
    margin-top : 30px;
    margin-bottom : 30px;
} */
.text p{
    font-size : 20px;
}
#info1 img{
    width : 350px;
    height : 250px;
    margin-top : 20px;
}
#info2{
    background-color: #2a4b76;
    grid-area : info2;
    width : 100%;
    
    display : flex;
    justify-content: center;
    align-items: center;
}
#info2 .card{
    background-color: white;
    width : 250px;
    height : 300px;
    margin: 0 40px;
    border-radius: 30px;
}
#info2 #box1:hover{
    box-shadow: 12px 12px 20px #ffffff75;
    transform: translateY(-20px);
}
#info2 #box2:hover{
    box-shadow: 12px 12px 20px #ffffff75;
    transform: translateY(-20px);
}
#info2 #box3:hover{
    box-shadow: 12px 12px 20px #ffffff75;
    transform: translateY(-20px);
}
#info2 .card img{
    width : 250px;
    height : 300px;
    border-radius: 30px;
}
#box1:target{
    background-color :orange;
}
#box2:target{
    background-color: beige;;
}
#info3{
    background-color: #eee;
    grid-area : info3;
    border : 1px solid blue;
    /* width : 1300px; */
    width : 100%;
    margin : 0 auto;
}
#info4{
    width : 100%;
    background-color: #BEDAFA;
    grid-area : info4;
    border : 1px soild black;
}
/* footer */
footer{
    grid-area : footer;
    background-color : white;
}


/*==============================================================*/

*{
    margin : 0;
    padding : 0;
}

#container{
    display : flex;
    flex-direction: column;

    width : 100%;
}
/* header */
header{
    background-color: gray;
    width : 100%;
    height : 100px;
}
/* bigImg */
#bigImg{
    background-color: skyblue;
    width : 100%;
    height : 500px;

    position : relative; /*자식 요소 #BigImg .text*/

}
#bigImg .text{
    display : flex;
    flex-direction: row;
    align-items: end;
    position : absolute; /*부모 요소 #bigImg*/
    bottom : 12px;
    left: 15px; /*사진 젤 왼쪽과 h1과의 떨어질 겨리*/
}

#bigImg img{
    width : 100%;
    height : 500px;
}
#bigImg h1{
    color : white;
    font-weight: 800;
    font-size : 4vw;
    bottom : 1.5vh;
}
#bigImg h3{
    color : orange;
    font-weight : 600;
    font-size : 2vw;
    margin-left : 5px; /*h1과 h3 사이의 여백*/

}
/* contents */
#contents {
    width : 100%;
    /* grid-template-rows: 325px 450px 325px 325px; */
}
#contents h1{
    font-size : 25px;
    
}
/* button */
#fourButton {
    background-color: bisque;

    display : flex;
    flex-direction: row;
    justify-content: start;
}
.btn{
    width: 8vw;
    height : 5vh;
    margin : 20px 10px;
    border-radius: 10px;
    font-size : 2vw;
    font-size : 15px;
}

#box1:target{
    background-color : orange;
}
#box2:target{
    background-color : #fff8dc;
}
#box3:target{
    background-color : #0069e0;
}
#box4:target{
    background-color : orange;
}
/* box */
.box{
    background-color: azure;

    display: flex;
    flex-direction: row;
    justify-content: space-evenly; /*다시확인*/
    align-items: center;
}
.boxOdd{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
}
.box .msg{
    background-color: white;
    width : 60%;
    /* margin-left : 60px; */
}
/* 다시보기 */
.boxOdd .msg{
    background-color: white;
    width : 60%;
    margin-right : 60px;
}
/*======*/
#box1 p{
    font-size : 20px;
    margin-top : 30px;
}
.box img, .boxOdd img{
    width: 350px;
    height : 270px;
    margin: 20px;
}
#box2{
    background-color: #2a4b76;;
    border : 1px solid black;

    display : flex;
    flex-direction: row;
}
#box3{
    border : 1px solid black;
}
#box3 .msgImg{
    display : flex;
    flex-direction: column;

}
#box3 .imgs img{
    width : 80px;
    height: 70px;
}
#box3 .msgImg .imgs{
    display : flex;
    flex-direction: column;
}

#box4{
    background-color: #2a4b76;;
    border : 1px solid black;
}
#box4 .next{
    display: flex;
    flex-direction: column;
    align-items: center; /*사진과 버튼과의 위치관계*/
}
#box4 .next button{
    margin-bottom : 20px;
}
#box4 img{
    width : 18vw;
    height : 30vh;
    border-radius: 30px;
}

#box4 .next1 img:hover{
    box-shadow : 12px 12px 20px #ffffff75;
    transform: translateY(-15px);
}

#box4 .next2 img:hover{
    box-shadow : 12px 12px 20px #ffffff75;
    transform : translateY(-15px);
}
#box4 .next3 img:hover{
    box-shadow : 12px 12px 20px #ffffff75;
    transform : translateY(-15px);
}

#box4 .box4Btn{
    width: 8vw;
    height : 4vh;
}

/* footer */
footer{
    background-color: gray;
    width : 100%;
    height : 100px;
}

@media (max-width: 666px){
    #fourButton{
        justify-content: center;
    }
    #bigImg .text{
        flex-direction: column;
        align-items: start;
    }

    .box .msg{
        margin-left: 0;
    }
    /* 줄어들었을 떄 box1 상황 */
    #box1{ 
        flex-direction: column-reverse;
        /* justify-content: center; */
    }
    #box2{ 
        flex-direction: column-reverse;
        
    }
    #box3{ 
        flex-direction: column-reverse;
    }
}