*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    /* background-color: #f0a3ad #d4e4a6 #ffc26f #fa7145; */
    /* background-color : #c24e59 #f9bc6c #276445 #265171; */
    /* background-color: #c1c4bd #c9dce3 #f0b7ac #25817e; */
    background-color : #c9dce3;
}
