@import url('https://fonts.googleapis.com/css2?family=Gamja+Flower&display=swap');

.navbar {
    padding-top: 1vh;
    padding-bottom: 1vh;
    font-size: 14px;
    background-color: #f4f4f4;

}

.navDiv {
    position: absolute;
    width: 100%;
    z-index: 1100;
}

.navHidDiv {
    opacity: 0;
}

.nav-item {
    margin-left: 3rem;
    margin-right: 3rem;
}

.navbar-brand {
    font-size: 20px;
    font-weight: bold;
}

.hidden {
    display: none;
}

.welcDiv {
    font-family: 'Gamja Flower', cursive;
    margin-right: 5rem;
    font-size: 2rem;
}

@media (max-width: 1150px) {
    .nav-item {
        margin-right: 1.5rem;
        margin-left: 1.5rem;
        
    }
    
}


@media (max-width: 990px) {
    .nicknameBox {
       display: none;
        
    }
    
}