
.navbar {
    padding-top: 1vh;
    padding-bottom: 1vh;
    font-size: 16px;
}

.nav-item {
    margin-left: 3rem;
    margin-right: 3rem;
}

.navbar-brand {
    font-size: 20px;
    font-weight: bold;
}

.hidden {
    display: none;
}

@media (max-width: 1150px) {
    .nav-item {
        margin-right: 1.5rem;
        margin-left: 1.5rem;
        
    }
    
}


@media (max-width: 990px) {
    .nicknameBox {
       display: none;
        
    }
    
}