@import url('https://fonts.googleapis.com/css2?family=Gamja+Flower&display=swap');



.logo {
    width: 10vw;
    height: 9vh;
}


.hidden {
    display: none;
}

.welcDiv {
    font-family: 'Gamja Flower', cursive;
    margin-right: 5rem;
    font-size: 2rem;
}

/* .nickForm {
    width: 17vw;
} */








/* ------------------------------------------- */

.naviMain {
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2vh;
    width: 100%;
    background-color:  #EAF6F6;
}

.naviItemDiv {
    display: flex;
}

.naviItem {
    /* writing-mode: horizontal-tb; */
    width: 13vw;
    height: 100%;
    text-align: center;
    font-size: 1.2rem;
}

ul li {
    list-style-type: none;
    list-style: none;

}


a { text-decoration: none; color: black; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:focus { text-decoration: none; }
a:hover,a:active { text-decoration: none; }

.naviHid {
    position: absolute;
    z-index: 4000;
    width: 100%;
    opacity: 0.7;
}

.naviSubDiv {
    display: flex;
    justify-content: space-between;
    padding: 4vh 24vw 0 15vw;
    width: 100%;
    height: 22vh;
    background-color: antiquewhite;

}

.line {
    border-left: thin solid  black;
    margin-top: 2vh;
    margin-bottom: 5vh;
}

.dropSub {
    padding-left: 0;

}



.dropSub > li {
    margin-bottom: 2vh;
}
.dropSubItem {
    margin-top: 20vw;
}

.navMQBtn {
    display: none;      
    font-size: 3rem;
     
}
.navLogoDIv {

    display: none;
}

.navLogoCenter {
    height: 8vh;
    width: 40vw;
}

.navMQmain {
    position: absolute;
    width: 50vw;
    height: 100vh;
    background-color: black;
    top: 0;
    left: 0;
    z-index: 10000;
}

@media (max-width: 990px) {
    .nicknameBox {
       display: none;
        
    }
    .navLogoDIv {
        display: block;
    }
    

   
    .naviItemDiv {
        display: none;
    }
    .navMQBtn {
        display: block;
        /* position: absolute;
        right: 2vw; */
    }
    .naviHid {
        display: none;
    }
}

