*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background : #1C6758;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin : 20px 0;
}
#container{
    width: 80%;
    height: 85vh;
    background-color : white;
    border : 2px solid green;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
}
h1{
    font-size: 27px;
    text-align: center;
}
.box{
    margin: 20px 0;
}
.box select{
    margin-left: 10px;
}
#firstbox{
    display: flex;
    flex-direction: row;
}
#secondbox{
    display: flex;
    flex-direction: row;
}
#thirdbox{
    display: flex;
    flex-direction: row;
}
#thirdbox input{
    margin-left: 10px;
}
#fourthbox{
    display: flex;
    flex-direction: row;
}

#fourthbox #rateDiv{
    /* border: 1px solid black;
    width :200px;
    height : 20px; */
    margin-left: 10px;
}

#btn{
    display: flex;
    justify-content: center;
    /* align-items: center; */
}

.swapButton{
    width: 250px;
    margin-top: 30px;
}