*{
    margin : 0;
    padding : 0;
}

#container{
    display : flex;
    flex-direction: column;

    width : 100%;
}
/* header */
header{
    background-color: gray;
    width : 100%;
    height : 150px;
}


/* bigImg */
#bigImg{
    background-color: skyblue;
    width : 100%;
    height : 500px;

    position : relative; /*자식 요소 #BigImg .text*/

}
#bigImg .text{
    display : flex;
    flex-direction: row;
    align-items: end;
    position : absolute; /*부모 요소 #bigImg*/
    bottom : 12px;
    left: 15px; /*사진 젤 왼쪽과 h1과의 떨어질 겨리*/
}

#bigImg img{
    width : 100%;
    height : 500px;
}
#bigImg h1{
    color : white;
    font-weight: 800;
    font-size : 4vw;
    bottom : 1.5vh;
}
#bigImg h3{
    color : orange;
    font-weight : 600;
    font-size : 2vw;
    margin-left : 5px; /*h1과 h3 사이의 여백*/

}



/* contents */
#contents {
    width : 100%;
    /* grid-template-rows: 325px 450px 325px 325px; */
}

/* button */
#fourButton {
    background-color: bisque;

    display : flex;
    flex-direction: row;
    justify-content: start;
}
#fourButton .btn{
    width: 8vw;
    height : 5vh;
    margin : 20px 10px;
    border-radius: 10px;
    font-size : 2vw;
    font-size : 15px;
}
#box1:target{
    background-color : orange;
}
#box2:target{
    background-color : #fff8dc;
}
#box3:target{
    background-color : #0069e0;
}
#box4:target{
    background-color : orange;
}

#contents h1{
    font-size : 25px;
    
}

/* box */
.box{
    background-color: azure;

    display: flex; /*4개의 box 모두 flex*/
    flex-direction: row; /*1, 3, 4만 row/ 2는 row-reverse*/
    justify-content: space-evenly; /*다시확인*/
    align-items: center;
}

#box2{
    background-color: #2a4b76;;

    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    align-items: center;
}


.box .msg{
    background-color: white;
    padding : 0 70px;
}

.box p{
    font-size : 20px;
    margin-top : 30px;
}
.box img{
    width: 350px;
    height : 270px;
    margin: 20px;
}

/* box3 */
#box3 .imgs img{ /*작은 6개의 이미지에 대한 너비와 높이*/
    width : 80px;
    height: 70px;
}
#box3 .msgImg .imgs{
    display: flex;
    flex-direction: column;
}
#box3 .msgImg .imgs .oneThree{
    padding-left : 50px;
}

/* box4 */
#box4{
    background-color: #2a4b76;;
    border : 1px solid black;
}
#box4 .next{
    display: flex;
    flex-direction: column;
    align-items: center; /*사진과 버튼과의 위치관계*/
}
#box4 .next button{
    margin-bottom : 20px;
}
#box4 img{
    width : 18vw;
    height : 30vh;
    border-radius: 30px;
}

#box4 .next1 img:hover{
    box-shadow : 12px 12px 20px #ffffff75;
    transform: translateY(-15px);
}

#box4 .next2 img:hover{
    box-shadow : 12px 12px 20px #ffffff75;
    transform : translateY(-15px);
}
#box4 .next3 img:hover{
    box-shadow : 12px 12px 20px #ffffff75;
    transform : translateY(-15px);
}

#box4 .box4Btn{
    width: 8vw;
    height : 4vh;
}

/* footer */
footer{
    background-color: gray;
    width : 100%;
    height : 200px;
}

@media (max-width: 666px){
    #fourButton{
        justify-content: center;
    }
    #bigImg .text{
        flex-direction: column;
        align-items: start;
    }
    .box{
        height: 70vh;
    }
    .box img{
        margin : 0;
    }
    /* 줄어들었을 떄 box1 상황 */
    #box1{ 
        flex-direction: column-reverse;
    }
    #box2{ 
        flex-direction: column-reverse;
        
    }
    #box3{ 
        flex-direction: column-reverse;
        
    }
    #box3 .msg{
        margin-bottom : 40px;
    }
    #box3 .msgImg .imgs .oneThree{
        margin-left : 25px;
    }
    #box3 .msgImg .imgs .oneThree img{
        padding : 0 20px;
    }
    #box4{
        flex-direction: column;
        justify-content: start;
    }
    #box4 img{
        width : 40vw;
        /* height : 30vh; */
    }

    #box4 .box4Btn{
        width: 14vw;
        height : 4vh;
    }
}